body {
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.game_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

#game_selection, #game1, #game2 {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

button {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

input {
    padding: 8px;
    margin-right: 10px;
}

label {
    color: #c0c0c0;
}

#message1, #message2 {
    color: #FF0000;
    margin: 10px;
}